.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
  height: 150px;
  width: 200px;
  display: inline-block;
  /*transition: 10s;*/
}

.box3 {
  background-color: black;
  height: 200px;
  width: 300px;
  display: inline-block;
}

.box2:hover {
  background-color: purple;
  height: 200px;
  width: 250px;
  transition: 3s;
}

.box4 {
  margin: 50px 0;
  background-color: pink;
  padding: 50px;
}

.box4 .box5 {
  background-color: blue;
  padding: 50px;
}

.box4 .box5 h1 {
  width: 50%;
  height: 100px;
  color: #fff;
}

.box4 .box5 .text1 {
  background-color: red;
  opacity: 0.7;
  /*background: rgba(255, 0, 0, 0.5);*/
}

.box4 .box5 .text2 {
  background-color: black;
}

.box4 .box5 .text3 {
  background-color: green;
  display: none;
}

.box6 {
  margin: 50px 200px;
  height: 100px;
  background-color: #fff;
  border: 5px solid red;
  overflow: scroll;
}
